body {
    background-color: #cacdd4;
    
}

/* NAVIGATION STYLING */

.navbar-fixed-top {
    height: 100px;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

#main-heading {
    margin-top: 2rem;
}

.intro-info-container {
    margin-bottom: 2rem;
}

.intro-info {
    font-family: 'Kdam Thmor Pro', sans-serif;
}