body {
    background-color: #cacdd4;
}

/* NAVIGATION */

.navbar-fixed-top {
    height: 100px;
}

.navbar-nav {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

.navbar-brand {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

#main-heading {
    margin: 2rem auto;
}

.intro-info-container {
    font-size: larger;
    margin-bottom: 2rem;
}

.intro-info {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.post-title {
    font-size:xx-large;
}

.post-creator {
    font-size: large;
}

.messages-container {
    margin-top: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .navbar, .nav-container {
      background-color: black !important;
      z-index: 1;
    }
  }