{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div id="post-create" class="container-fluid ">

    <h3>Create a Post</h3>
    <div class="row">
        <div class="col">
            <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ post_form.title|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ post_form.body|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-lg">Confirm</button>
                <a href="{% url 'homepage' %}" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>
</div>


{% endif %}

{% endblock content %}