{% extends 'base.html' %}

{% block content %}

<section id="post-content-heading" class="container-fluid text-center">
    <h1>{{ post.title }}</h1>
</section>

<section id="post-main-content" class="container-fluid ">
    <div class="row d-flex justify-content-center">
        {% if user.is_authenticated %}
        <div class="col-sm-12 col-md-6">
            <a class="btn btn-primary" href="#" role="button">Update</a>
            <a class="btn btn-primary" href="#" role="button">Delete</a>
        </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col card top">
                <div class="card-body">
                    <p class="card-text">
                        {{ post.body | safe }}
                    </p>
                    <p class="card-text post-creator">Made by: {{ post.creator }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ post.time }}
                </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}