{% extends 'base.html' %}
{% block content %}

<section id="post-content-heading" class="container-fluid text-center">
    <h1>{{ post.title }}</h1>
</section>

<section class="container-fluid ">
    <div class="row">
        {% if request.user == post.creator %}
        <div class="col">
            <a class="btn btn-primary" href="{% url 'update' post.slug %}" role="button">Update</a>
            <a class="btn btn-primary" href="{% url 'delete' post.slug %}" role="button">Delete</a>
        </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col card top">
                <div class="card-body">
                    <p class="card-text text-center">
                        {{ post.body | safe }}
                    </p>
                    <p class="card-text post-creator">Made by: {{ post.creator }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ post.time }}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}